@import "../../../styles.scss";

:host ::ng-deep .bar-menu {
    width: 100%;
    height: 50px;
    justify-content: center;
    display: flex;
    background-color: $color-main2;
    padding: 6px;

    &_item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;

        &_icon, &_label {
            display: flex;
            color: $color-main1 !important;
            font-family: $font-family;
        }

        &_active { 
            background: darken($color-main2, 10%);
        }
    }

    p-menubar {
        height:100%
    }

    .p-menubar {
        height: 100%;
        background: $color-main2;
        border-radius: 0;
        border: none;

        .p-menubar-root-list {
            margin-bottom: 0 !important;

            .p-menuitem.active > .p-menuitem-content { 
                background: darken($color-main2, 10%);
            }

            .p-menuitem {

                .p-menuitem-content {
                    background: $color-main2;

                    a {
                        text-decoration: none;
                    }

                    .p-menuitem-icon {      
                        color: $color-accent;
                    }

                    .p-submenu-icon {
                        display: none;
                    }

                    .p-menuitem-text {
                        color: $color-main1 !important;
                        font-family: $font-family;
                    }
                }

                .p-submenu-list {
                    padding-left: 0;
                    background-color: $color-light-text;

                    .p-menuitem-content {
                        background-color: $color-light-text;

                        .p-menuitem-text {
                            color: $color-main1 !important;
                            font-family: $font-family;
                        }
                    
                        &:hover {
                            background-color: darken($color-light-text, 5%);
                        }
                    }
                }
            }
        }
    }

    /* Forzar el menubar siempre visible */
    .p-menubar {
        display: flex !important;
    }

    /* Ocultar botón hamburguesa */
    .p-menubar .p-menubar-button {
        display: none !important;
    }
}
