<div class="landscape-animation">
    <div class="landscape-animation_img">
            <div class="landscape-animation_text">
                <h1 class="typing-line line0">Hi, I'm Paula</h1>
                <div class="landscape-animation_text_info">
                    <div class="typing-line line1">> Ingeniera biomédica con interés en la inteligencia</div>
                    <div class="typing-line line2">artificial</div>
                    <div class="typing-line line3">> Desarrolladora web de soluciones digitales para</div>
                    <div class="typing-line line4"> el entorno hospitalario</div>
                </div>
            </div>
    </div>
</div>
