<div vertical class="init-page">
   <div one class="init-page_header">
      <app-bar-menu [items]="barMenuItems"></app-bar-menu>
   </div>

   <div #scrollContent class="init-page_content">
      <div [id]="sectionsPage.LANDSCAPE" class="my-landscape">
         <app-landscape-animation></app-landscape-animation>
      </div>

      <div class="init-page_sections content">
         <div [id]="sectionsPage.ABOUT_ME" class="my-section">
            <app-section-about-me></app-section-about-me>
         </div>
         <div [id]="sectionsPage.SKILLS" class="my-section">
            <app-section-skills></app-section-skills>
         </div>
         <div [id]="sectionsPage.EXPERIENCE" class="my-section">
            <app-section-experience></app-section-experience>
         </div>
      </div>
   </div>
</div>