@import "../../../styles.scss";

.section-skills {
    height: 100%;
    padding: 0 52px;

    &_column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &_card {
        height: 100%;
        transition: 500ms;

        &_title {
            display: flex;
            height: 50px;
            align-items: center;
            justify-items: center;
            justify-content: center;
        }

        &_container {
            display: block;
            padding: 0 20px;
            height: 100%;
            line-height: 1.65;

            &_title {
                font-weight: bold;
                color: $color-dark-text;
                font-family: $font-family;
            }

            &_item {
                display: inline;
                white-space: nowrap;

                &_certified {
                    display: inline-flex;
                    vertical-align: top;
                    white-space: nowrap;
                }
            }

            &_certificate {
                width: 100%;
                display: inline-flex;
                align-items: center;
                margin-top: 2px;
            }

            &_bullet {
                display: inline;
                margin: 0 6px;
                font-weight: bold;
                color: $color-accent;
            }
        }

        &:hover {
            transform: scale(1.02) ;
        }
    }
}

@media (max-width: 768px) {
    .section-skills {
        padding: 20px;
    }
}
