
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-portfolio-3-primary: mat.define-palette(mat.$indigo-palette);
$my-portfolio-3-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$my-portfolio-3-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$my-portfolio-3-theme: mat.define-light-theme((
  color: (
    primary: $my-portfolio-3-primary,
    accent: $my-portfolio-3-accent,
    warn: $my-portfolio-3-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($my-portfolio-3-theme);

@import '~bootstrap/dist/css/bootstrap.min.css';

/* You can add global styles to this file, and also import other style files */
$color-light-text: #F8EAFC;
$color-dark-text: #2b2b2b;
$color-main1: #2b0e6d;
$color-main2: #c1aded;
$color-main3: #FFCE6D;
$color-accent: #B60562;

$font-big: 32px;
$font-medium: 22px;
$font-small: 18px;
$font-icon: 24px;
$font-family: sourceSansPro-Light sans-serif;

.card {
    background-color: $color-light-text;
    border-radius: 8px;
    padding: 16px;
    opacity: 0.9;
    box-shadow: 4px 5px 10px 0px darken($color-main2, 50%);
}

.content {
    padding: 52px;
}

.section-title {
    display: flex;
    font-size: $font-big;
    font-weight: bold;
    font-family: $font-family;
    margin-bottom: 16px;
    color: $color-main3;
    justify-content: center;
}

.text-accent {
    font-size: $font-medium;
    font-family: $font-family;
    font-weight: bold;
    color: $color-accent;
}

.text-gold {
    font-size: $font-medium;
    font-family: $font-family;
    font-weight: bold;
    color: $color-main3;
}

.light-text {
    font-size: $font-small;
    font-family: $font-family;
    color: $color-light-text;
    line-height: 30px;
}

.margin-small {
    margin: 8px;
}

.margin-medium {
    margin: 16px;
}

.margin-big {
    margin: 32px;
}

.margin-extra-big {
    margin: 46px;
}

.margin-small-top {
    margin-top: 8px;
}

.margin-medium-top {
    margin-top: 16px;
}

.margin-big-top {
    margin-top: 32px;
}

.margin-extra-big-top {
    margin-top: 46px;
}

.margin-small-bottom {
    margin-bottom: 8px;
}

.margin-medium-bottom {
    margin-bottom: 16px;
}

.margin-big-bottom {
    margin-bottom: 32px;
}

.margin-extra-big-bottom {
    margin-bottom: 46px;
}

.margin-small-left {
    margin-left: 8px;
}

.margin-medium-left {
    margin-left: 16px;
}

.margin-big-left {
    margin-left: 32px;
}

.margin-extra-big-left {
    margin-left: 46px;
}

.margin-small-right {
    margin-right: 8px;
}

.margin-medium-right {
    margin-right: 16px;
}

.margin-big-right {
    margin-right: 32px;
}

.margin-extra-big-right {
    margin-right: 46px;
}

.justify-content-center {
    justify-content: center;
}

@media(max-width: 780px) {
    .content {
        padding: 22px;
    }
}

@media(max-width: 520px) {
    .content {
        padding: 12px;
    }
}
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: $font-family;
    font-size: $font-small;

    mat-icon {
        font-size: $font-icon;
        color: $color-accent;
    }
}
