
/* You can add global styles to this file, and also import other style files */
$color-light-text: #F8EAFC;
$color-dark-text: #2b2b2b;
$color-main1: #2b0e6d;
$color-main2: #c1aded;
$color-main3: #FFCE6D;
$color-accent: #B60562;

$font-big: 32px;
$font-medium: 24px;
$font-small: 18px;
$font-extra-small: 14px;
$font-icon: 24px;
$font-family: "Source Sans 3", sans-serif;

.card {
    background-color: $color-light-text;
    border-radius: 8px;
    padding: 16px;
    opacity: 0.9;
    box-shadow: 4px 5px 10px 0px darken($color-main2, 50%);
}

.content {
    padding: 52px;
}

.section-title {
    display: flex;
    font-size: $font-big;
    font-weight: bold;
    font-family: $font-family;
    margin-bottom: 16px;
    color: $color-main3;
    justify-content: center;
}

.font-big {
    font-size: $font-big !important;
}

.font-medium {
    font-size: $font-medium !important;
}

.font-small {
    font-size: $font-small !important;
}

.pointer {
    cursor: pointer;
}

.text-accent {
    font-size: $font-medium;
    font-family: $font-family;
    font-weight: bold;
    color: $color-accent;
}

.text-gold {
    font-size: $font-medium;
    font-family: $font-family;
    font-weight: bold;
    color: $color-main3;
}

.tex-color-main2 {
    font-family: $font-family;
    color: $color-main2;
}

.light-text {
    font-size: $font-small;
    font-family: $font-family;
    color: $color-light-text;
    line-height: 30px;
    font-weight: 200;
}

.margin-small {
    margin: 8px;
}

.margin-medium {
    margin: 16px;
}

.margin-big {
    margin: 32px;
}

.margin-extra-big {
    margin: 46px;
}

.margin-small-top {
    margin-top: 8px;
}

.margin-medium-top {
    margin-top: 16px;
}

.margin-big-top {
    margin-top: 32px;
}

.margin-extra-big-top {
    margin-top: 46px;
}

.margin-small-bottom {
    margin-bottom: 8px;
}

.margin-medium-bottom {
    margin-bottom: 16px;
}

.margin-big-bottom {
    margin-bottom: 32px;
}

.margin-extra-big-bottom {
    margin-bottom: 46px;
}

.margin-small-left {
    margin-left: 8px;
}

.margin-medium-left {
    margin-left: 16px;
}

.margin-big-left {
    margin-left: 32px;
}

.margin-extra-big-left {
    margin-left: 46px;
}

.margin-small-right {
    margin-right: 8px;
}

.margin-medium-right {
    margin-right: 16px;
}

.margin-big-right {
    margin-right: 32px;
}

.margin-extra-big-right {
    margin-right: 46px;
}

.justify-content-center {
    justify-content: center;
}

.animate-scroll-item {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.8s ease-out;
}

.fade-left {
    transform: translateX(-50px);
}

.fade-right {
    transform: translateX(50px);
}

.on-scroll {
    opacity: 1;
    transform: translateX(0);
}

.flex-none {
    flex: none
}


@media(max-width: 780px) {
    .content {
        padding: 22px;
    }
}

@media(max-width: 520px) {
    .content {
        padding: 12px;
    }
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: $font-family;
    font-size: $font-small;

    mat-icon {
        font-size: $font-icon !important;
        color: $color-accent;
    }
}
